html {
    font-size: 15px;
}

@include media-breakpoint-up(lg) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        &-thumb {
            background: #aab0b6;
        }
    }
}

/* variables */
// @mixin img-bg-overlay {
//     position: relative;
//     overflow: hidden;
//     isolation: isolate;
//     &:after {
//         content: "";
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         left: 0;
//         top: 0;
//         background: linear-gradient(
//             98.85deg,
//             rgba(68, 132, 230, 0.5) 1.27%,
//             rgba(68, 132, 230, 0)
//         );
//     }
// }

@mixin link($color: white) {
    color: $color;
    transition: 0.4s;
    // border-bottom: 1px solid transparent;
    &:hover {
        color: $primary;
        text-decoration: none;
        // border-bottom-color: $color;
    }
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
    min-width: 360px;
    font-family: "Open Sans", sans-serif;
    color: #222b45;
    background-color: $light;
    padding-top: 103px;
    @include media-breakpoint-only(md) {
        padding-top: 115px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 169px;
    }
}

.lazy {
    background-image: none !important;
}

#wrapper {
    position: relative;
    @include media-breakpoint-down(md) {
        overflow: hidden;
    }
}

#content {
    padding-top: 30px;
    padding-bottom: 60px;
    min-height: 600px;
    position: relative;
}

p {
    margin-bottom: 1.18rem;
}

b,
strong {
    font-weight: 700;
}

label {
    margin-bottom: 0.2rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* headings */
h1,
.h1 {
    font-size: 27px;
}
h2,
.h2 {
    font-size: 24px;
}
h3,
.h3 {
    font-size: 21px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 15px;
}
h6,
.h6 {
    font-size: 13px;
}

/* buttons */
.btn {
    border-width: 2px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    > * {
        vertical-align: middle;
    }
}
.btn-sm {
    font-weight: 600;
    text-transform: none;
}
.btn-primary:hover {
    background-color: $dark;
}
.btn-light img {
    filter: brightness(0) saturate(100%) invert(12%) sepia(36%) saturate(992%)
        hue-rotate(186deg) brightness(95%) contrast(87%);
}
.btn-outline-primary img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(49%) saturate(3307%)
        hue-rotate(218deg) brightness(95%) contrast(82%);
}
.btn-primary,
.btn-outline-primary {
    &:hover img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
            hue-rotate(93deg) brightness(103%) contrast(103%);
    }
}
.btn-link {
    color: $dark !important;
    &:hover {
        text-decoration: none;
        border-color: $dark;
    }
}

/* table */
.table {
    word-break: normal;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    thead th {
        font-size: 12px;
        line-height: 16px;
        color: #8f9bb3;
        border-top: none;
        border-bottom-width: 1px;
        vertical-align: top;
    }
    th {
        font-weight: 600;
    }
    td {
        vertical-align: middle !important;
    }
    b,
    strong {
        font-weight: 700;
    }
}
.table-striped {
    tbody tr:nth-of-type(odd) {
        background-color: $light;
    }
    thead th {
        border: none;
    }
    td {
        border-top: none;
    }
}

.dataTable > thead {
    .sorting {
        &:before,
        &:after {
            top: 10px;
            bottom: inherit !important;
        }
    }
    .sorting_disabled {
        &:before,
        &:after {
            content: none !important;
        }
    }
}

.dt-bootstrap4 .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* form-group */
.form-group {
    margin-bottom: 32px;
    label {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    .input-group-prepend {
        text-transform: none;
        margin-bottom: 0;
    }
}

/* form-control */
.form-control {
    font-weight: 600;
    font-size: 15px;
    color: $dark;
    background-color: #e4e9f2;
    border-color: #e4e9f2;
}
.input-group-text {
    background-color: #e4e9f2;
    border-color: #e4e9f2;
    color: $secondary;
    padding-left: 0;
}

/* dropdown */
.dropdown-menu {
    border: 1px solid #e4e9f2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05),
        0px 25px 35px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    z-index: 1030;
    .dropdown-item {
        color: $dark;
        font-weight: 600;
        font-size: 13px;
        transition: 0.4s;
        &:hover,
        &.active {
            background-color: #e4e9f2;
            color: $primary;
        }
    }
}
@include media-breakpoint-up(xl) {
    .dropdown-hovered:hover > .dropdown-menu {
        display: block !important;
        margin-top: 0;
    }
}
.dropdown-toggle:after {
    margin-left: 6px;
    border: solid $primary;
    border-width: 0 0.1em 0.1em 0;
    padding: 0.15em;
    transform: rotate(45deg);
    font-size: 22px;
    vertical-align: 0.15em;
}
.btn-primary.dropdown-toggle {
    padding-right: 50px;
    &:after {
        border: solid white;
        border-width: 0 0.1em 0.1em 0;
        position: absolute;
        top: calc(50% - 0.25em);
        right: 14px;
        z-index: 2;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: -2px;
        bottom: -2px;
        right: -2px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

/* modal */
.modal-backdrop {
    background: rgba(34, 43, 69, 0.5);
    backdrop-filter: blur(10px);
    &.show {
        opacity: 1;
    }
}
@include media-breakpoint-up(sm) {
    .modal-dialog {
        max-width: 600px;
    }
}

/* popover */
.popover {
    font-size: 14px;
    max-width: 320px;
    will-change: unset !important;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05),
        0px 25px 35px rgba(0, 0, 0, 0.03);
}
.popover-header {
    font-size: 17px;
    font-weight: normal;
    padding: 15px;
    text-transform: uppercase;
    background: linear-gradient(to right, $primary 0%, $info 100%);
    color: white;
    border-bottom: none;
    .close {
        opacity: 1 !important;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 15px;
        font-weight: normal;
        font-size: 20px;
        color: white;
        transition: 0.4s;
        margin-left: 10px;
        &:hover {
            transform: rotate(180deg);
        }
    }
}
.popover-body {
    padding: 20px;
}

/* scrollbar */
scrollbar,
[scrollbar],
[data-scrollbar] {
    .scrollbar-track-y {
        width: 6px;
        background: $light;
        .scrollbar-thumb {
            width: 6px;
            background: #ced4da;
        }
    }
}

/* card */
.card {
    border: 1px solid #e4e9f2;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 5%), 0px 25px 35px rgb(0 0 0 / 3%);
}
.card-header {
    background-color: #f7f9fc;
    font-size: 1.3rem;
    border-bottom-color: #e4e9f2;
}
.card-body {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

/* breadcrumb */
.breadcrumb {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    color: $dark;
    margin: 0 0 10px;
    white-space: nowrap;
    flex-wrap: inherit;
    .breadcrumb-item {
        &.active {
            font-weight: 700;
        }
        &:last-child {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            a {
                text-decoration: none;
                pointer-events: none;
            }
        }
        & + .breadcrumb-item {
            padding-left: 2px;
            &:before {
                content: "·";
                padding-right: 0;
                color: $primary;
            }
        }
    }
    a {
        color: $primary;
    }
    @include media-breakpoint-down(sm) {
        & {
            overflow-x: auto;
            overflow-y: hidden;
        }
    }
}

/* pagination */
.pagination {
    justify-content: center;
    .page-item {
        @include media-breakpoint-up(md) {
            margin: 0 4px;
        }
        &.disabled .page-link {
            border-color: transparent;
        }
        &.active .page-link {
            color: $primary;
            font-weight: 600;
            border-color: $primary;
        }
    }
    .page-link {
        white-space: nowrap;
        font-weight: 500;
        text-align: center;
        color: $dark;
        border: 2px solid transparent;
        background-color: $light !important;
        transition: 0.5s;
        &:hover {
            border-color: $primary;
        }
    }
}

/* sweetalert */
.swal2-title,
.swal2-content {
    color: $dark;
}

/* owl-carousel */
.owl-carousel {
    .owl-nav.disabled + .owl-dots {
        margin-top: 17px;
    }
    .owl-dots {
        .owl-dot {
            span {
                width: 10px;
                height: 10px;
            }
            &.active,
            &.hover {
                span {
                    background: $primary;
                }
            }
        }
    }
}

/* particles */
.particles-js-canvas-el {
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* noUi-connect */
.noUi-connect {
    background: $info;
}
.noUi-target {
    box-shadow: none;
    .noUi-tooltip {
        display: none;
    }
    .noUi-active .noUi-tooltip {
        display: block;
    }
}

/* select2 */
.select2-container--bootstrap4 {
    .select2-selection--single {
        height: 44px !important;
        padding: 5px 6px;
        font-weight: 600;
        font-size: 15px;
        background-color: #e4e9f2;
        border-color: transparent;
        &.select2-lg {
            height: 51.5px !important;
            padding-top: 8.5px;
            padding-bottom: 8.5px;
        }
    }
}

/* accordion */
.accordion {
    .card {
        border: none;
        box-shadow: none;
        overflow: visible;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    .card-header {
        border-bottom: none;
        background-color: #f7f9fc;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05),
            0px 25px 35px rgba(0, 0, 0, 0.03);
        .btn {
            font-weight: 700;
            font-size: 30px;
            line-height: 1.34;
            padding: 18px 26.5px;
            padding-right: 70px;
            text-transform: inherit;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 28px;
                transform: translateY(-50%) rotate(90deg);
                transition: 0.4s;
                background: url("../img/icons/arrow-down-2.svg") no-repeat
                    center;
                width: 28px;
                height: 16.5px;
            }
            &.collapsed:after {
                transform: translateY(-50%);
            }
        }
    }
    .card-body {
        padding-bottom: 0px;
    }
}

@include media-breakpoint-down(lg) {
    .accordion .card-header .btn {
        font-size: 22px;
    }
}
